.navbar.navbar-default.navbar-static-top {
  background:#4a90a6;
}

.navbar {
  margin-bottom:0;
  padding:30px;
}

.navbar-brand {
  font-size:30px;
}

#icon_pad {
  padding-top:50px;
}

#ul_color a {
  color:#ffffff;
}

.thumbnail .img-fit {
    width: 100%;
    height:250px;
}

.item {
    position:relative;
}

.item img {
    width: 100%;
}



.center {
    position: absolute;
    top: 100px;
    left: 200px;
    color: white;
}